<h1>Task Manager</h1>
<hr>
<form method="post">
	<label for="">Todo :</label>
	<input type="text" name="todoName" id="">
	<input type="submit" value="Create">
	<input type="reset" value="Reset">
</form>